{% extends "services/base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="card mx-auto shadow" style="max-width: 500px; padding: 30px;">
        <h3 class="mb-4 text-center">Change Password</h3>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary w-100 mb-3">
                Change Password
            </button>
        </form>
    </div>
</div>

{% endblock %}